.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
   */
  label {
    width:300px;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  

  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  

  
  .form-container label {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
 